/* Settings page styles */
#custom-type-list { margin: 20px 0; }
#custom-type-list li { 
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #f7f7f7;
	max-width: 400px;
	padding: 10px;
}
#loading-animation { display: none; }

/* Field styles */
.meta-row {
	border-bottom: 1px solid #e9e9e9;
}
.meta-th {
	display: inline-block;
	float: left;
	width: 25%;
	font-weight: bold;
}
.meta-tr {
	display: inline-block;
	float: right;
	width: 75%;
}
.meta {
	margin-top: 20px;
}

/* Style for staff page shortcode by dept*/
.staff-listing { text-align: center; }
.list-unstyled { list-style: none; color: #000!important; }
#staff-by-department .title-dept { 
	text-transform: uppercase!important; 
	font-size: 36px!important;
	font-weight: 600!important;
	color: #000!important;  
}
.staff-email:link { text-decoration: none!important; color: blue; }
.staff-name { font-size: 24px; font-weight: 600; }	 
.staff-title, .staff-email, .staff-phone { font-size: 15px; }

.esp-row-content { width: 250px!important; }

.sCard .box-border-lay {
	border-bottom: 3px solid #f5f5f5;
	box-shadow: 1px 0 2px 0 rgba(0,0,0,.05);
	margin-bottom: 30px;
} 

.sCard img {
    box-shadow: 2px 0 2px 0 rgba(0,0,0,.1);
    border-radius: 60px!important;
    
    border: 8px solid #f5f5f5;
}

.sCard .staff-title {
	font-weight: 600;
    font-style: italic;	
}

.sImage { padding-top: 15px; }
.sImage img { width: 150px!important; height: 150px!important; }

#set-post-thumbnail img { 
	width:300px!important; 
}

.wp-list-table .slug { border:solid 2px lightgray; background:white; padding:0 8px; font-size:13px; line-height:25px; vertical-align:middle; }


/* Test purposes */
/*.custom-header { height: 100px!important; }
.entry-header { display: none!important; }
.entry-content { float: none!important; width: 100%!important; }
.entry-content a { -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0)!important; 
    box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0)!important; }
*/
